body{
    background-image: url('../assets/muñeca.png');
    background-position: center;
    background-size: cover;
    color: #f2f2f2;
    font-family: Arial, sans-serif;
}

#encabezado{
    color:#800020;
}

.card{
    background-color: rgba(0,0,0,0.6);
    border: 1px solid #800020;
    border-radius: 10px;
    padding: 10px;
}

.carta{
    color:blue;
}

input[type="range"] {
    accent-color: #800020;
}

input[type="search"] {
    color: blue;
    background-color:  #2b2b2b;
    border: 1px solid #800020;
    padding: 6px;
    border-radius: 5px;
}

ol li{
    padding: 5px;
}

img{
    border: 2px solid #800020;
    border-radius: 6px;
}

footer{
    background-color: #111;
    border-top: 1px solid #800020;
}
